{% extends "base_generic.html" %}

{% block content %}
  <h1>Household: {{ household.name }}
  {% if household.editing %} 
  <span class="pull-right status currentstatus"><i class="fa fa-edit"></i> Editing</span>
  <span class="pull-right status"><a href="{% url 'household-detail-lock' household.id %}"><i class="fa fa-lock"></i> Lock to enter weights</a></span>
  {% else %}
  <span class="pull-right status currentstatus"> <i class="fa fa-lock"></i> Locked </span>
  <span class="pull-right status"><a href="{% url 'household-detail-unlock' household.id %}"><i class="fa fa-unlock"></i> Unlock to edit</a></span>
  <span class="pull-right status note">(Note: unlocking will delete any weights you have already entered.)</span>
  {% endif %}
  </h1>
 
  
  <div class="household">
    <h2>Members 
		{% if household.editing %}
		<a href="{% url 'doer-create' household.id %}"class="ml-auto btn btn-outline-secondary">
			<i class="fa fa-plus"></i>
		</a>
		{% endif %}
    </h2>

	<ul>
    {% for doer in household.doer_set.all %}
    <li>
		{{doer.name}}
		
		{% if household.editing %}
		<a href="{% url 'doer-delete' doer.pk %}" class="ml-auto btn btn-outline-secondary pull-right">
			<i class="fa fa-times"></i>
		</a>
		<a href="{% url 'doer-update' doer.pk %}" class="ml-auto btn btn-outline-secondary pull-right">
			Edit
		</a>
		{% endif %}
		<p class="choreDetails">
		Equal member
		</p>
	</li>
    {% endfor %}
    </ul>
    
    <h2>Chores 
    {% if household.editing %}
		<a href="{% url 'chore-create' household.id %}" class="ml-auto btn btn-outline-secondary">
			<i class="fa fa-plus"></i>
		</a> 
    {% endif %}
    </h2> 
    
    <ul>
    {% for chore in household.chore_set.all %}
		<li>
			{{ chore.name }}
			{% if household.editing %}
			<a href="{% url 'chore-delete' chore.pk %}" class="ml-auto btn btn-outline-secondary pull-right">
				<i class="fa fa-times"></i>
			</a>
			<a href="{% url 'chore-update' chore.pk %}" class="ml-auto btn btn-outline-secondary pull-right">
				Edit
			</a>
			{% endif %}
			<p class="choreDetails"> 
			 {% if chore.isFixed %} Assigned to {{chore.doer.name}} (value: {{chore.fixedValue}}){% else %} To be assigned {% endif %} 
			</p>
		</li>
    {% endfor %}
    </ul>
    
  </div>
{% endblock %}