{% extends "base_generic.html" %}

{% block content %}

<div class="titleblock">
<h1>Minimax your chores</h1>
<h2>(or: marriage therapy for geeks) </h2>
</div>

<div class="row">
<div class="col-sm-4">
<div class="problem-text text">
<h3> The problem </h3>
<p> Has it ever felt to you like you do more than your fair share of the work? Have you ever brought this up, only to discover that other people are feeling the same way? Sure, you may be cooking dinner every night, but she’s making sure the smoke detectors work, and he’s feeding all of the geckos. It’s hard to figure out what’s fair.</p>
</div>
</div>
<div class="col-sm-8 text">
<p> Minimaxing your chores is based on a simple principle: not everyone hates all chores in exactly the same way. In simple cases, this has obvious implications for who should do what: maybe you don’t mind doing laundry but hate doing dishes, and your partner feels the opposite. Great! You should do the laundry, they should do the dishes. Each of you thinks you're doing less than half the work!</p>

<p>
But what about when there are seventeen household chores you need to divvy up? You can still find the “best” split by <b><em>mini</em></b>mizing the <b><em>max</em></b>imum amount of work that any one person thinks they’re doing. Minimaxing your chores has two benefits: first, it’s an impartial way to get a good division of labor, regardless of how bizarre and specific your particular chores and preferences are. Second, you get the satisfaction of knowing that you’re each truly doing less than your share.
</p>

</div>
</div>
<div class="row">
<div class="col-sm-7 text">
<h3>  How it works </h3>
<ol>
<li>Create a household - just choose a unique name.</li>

<li>Add people and chores to your household. Deciding on the set of chores is the most important step! Have a relaxed conversation about what all the jobs are, maybe over some snacks. Make sure you include “keeping track of stuff” chores, like making sure taxes are filed or making preventive-care doctors’ appointments. </li>

<li>Once you’re satisfied with the list of chores, each of you should enter the weights you place on each chore! Each person’s weights need to add up to 100, but you will probably have slightly different beliefs about how much each chore is “worth.” That’s the key!</li>

<li>View all the possible allocations and their scores, pick one out, and give it a shot! Choose a date in a month or so to re-evaluate and see if you’re happier. </li>
</ol>
</div>

<div class="col-sm-5">
<div class="text about-text">
<h3>  About this site </h3>
<p>This is a project I started as a concrete way to learn more about the Django web framework. Want to check that it’s implemented fairly, report a bug, or add on features of your own? View the source code <a href="https://github.com/kimberscott/minichore" target="_blank">on github</a>.</p>
</div>
</div>

</div>

{% endblock %}