.household p.choreDetails{
	font-style: italic;
}

button.member {
	margin: .5em;
}

.household a {
	appearance: button;
}

.household .deleteButton {
	float: right;
}

.household li {
	width: 50%;
}

.household .doers {
	width: 50%;
}

.household .doers button {
	display: block;
}