.pull-right {
	float:right;
}

.household p.choreDetails{
	font-style: italic;
}

.household li {
	width: 100%;
	list-style-type: none;
}

div#buttonrow {
	width: 60%;
}

.btn {
	margin: 3px;
}

li .btn {
	vertical-align: center;
}

li {
	vertical-align: middle;
}

tr.fixedChore {
	color: gray;
}

.sidebar {
	padding: 5%;
}

.sidebar ul {
	list-style-type: none;
}

.content {
	padding: 50px;
}

.titleblock {
	margin-bottom: 3em;
}

form {
	max-width: 600px;
}

.helptext {
	color: gray;
}

form table th, form table td {
	vertical-align: top;
}

form table th {
	padding-right: 1em;
}

table.doerWeights th, table.doerWeights td {
	padding-right: 3em;
}

.nav-link i {
	width: 1.5em;
	color: black;
}

span.status.currentstatus {
	font-size: 50%;
}

span.status {
	font-size: 40%;
	clear:right;
	margin-top: .5em;
}

span.status.note {
	max-width: 30%;
}

#weightsForm table {
	margin-top: 2em;
	margin-bottom: 2em;
}

#weightsForm table td, #choreForm td {
	padding-bottom: 1em;
}

.totalRow td, .totalRow th {
	padding-top: 1em;
	border-top: thin solid black;
}

ul.errorlist {
	color:red;
	list-style-type: none;
}

#allocationTable {
	margin: auto;
}

#allocationTable td, #allocationTable th {
	padding-left: 2em;
	text-align: right;
	padding-bottom: 1em;
}

div.allo-nav {
	margin-top: 2em;
}

i.info {
	color:gray;
	font-size:medium;
	vertical-align:top;
}