.household p.choreDetails{
	font-style: italic;
}

.household a {
	appearance: button;
}

.household li {
	width: 50%;
}

.household .doers {
	width: 50%;
    display:inline-block;
}

.household .doers button , .household .doers a {
	margin: .5em;
}

.household .doers button.doer {
	float: left;
	clear: left;
}

.household .deleteButton {
	float: right;
}

input {
color: red;}

div#buttonrow {
	width: 60%;
}

.pull-right {
	float:right;
}